/*Sidebar*/
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 100%;
    overflow-y: hidden;
    background: #2C3E50;
    border: 1px solid grey;
    opacity: 0.9;
}

/*Main Content*/
#page-content-wrapper{
    width: 100%;
    /*padding: 15px;*/
    padding-left: 200px;
    position: absolute;
}

/*Change the width of sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
    width: 200px;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 200px;
}

/*Sidebar Styling*/
.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
    list-style: none;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    background: slategray;
}


